@charset "UTF-8";
:root {
  --color-text: #757575;
  --color-title-text: #212121;
  --color-footer-hero: #2f303a;
  --color-main-background: #ffffff;
  --color-secondary-background: #f5f4fa;
  --color-link-hover: #2196f3;
  --color-logo-footer: #ffffff;
  --color-logo-header: #000000;
  --color-real-address: #ffffff;
  --color-link-address: rgba(255, 255, 255, 0.6);
  --color-title-hero: #ffffff;
  --color-border: #eeeeee;
  --fill-icon: #afb1b8;
  --kub: cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.nav__link,
.nav__site,
.contact-nav,
.contact-nav__link,
.benefits,
.wotwedo__list,
.team__list,
.address__list,
.address__link,
.address-real,
.filter,
.works,
.works__link,
.client__list,
.mobile__nav a {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--color-main-background);
  color: var(--color-title-text);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body.modal-open {
  overflow: hidden;
}

.header-blok {
  display: flex;
  align-items: center;
}

.header-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-border);
}

.mobile__nav {
  display: none;
}

.menu__icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu__icon {
    z-index: 6;
    display: block;
    position: relative;
    width: 24px;
    height: 17px;
    cursor: pointer;
    border: none;
    background-color: white;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon.active {
    width: 18px;
    height: 18px;
  }
  .menu__icon:hover span {
    background-color: var(--color-link-hover);
  }
  .menu__icon:hover::after {
    background-color: var(--color-link-hover);
  }
  .menu__icon:hover::before {
    background-color: var(--color-link-hover);
  }
  .header {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    z-index: 5;
  }
  .mobile__nav {
    display: block;
    justify-content: center;
  }
  .mobile__nav a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile__nav a:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 60px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    padding: 20px 30px 120px 30px;
    background-color: #ffffffec;
    transition: left 0.3s ease 0s;
    overflow-y: scroll;
  }
  .menu-container.active {
    left: 0;
  }
  .nav__logo-menu {
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 15px;
    justify-content: space-between;
    width: 100%;
  }
  .hero {
    padding-top: 60px;
  }
  .contact-nav__item svg {
    display: none;
  }
  .contact-nav {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 64px;
  }
  .nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .nav__site li {
    margin-bottom: 32px;
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--color-link-hover);
  }
  .nav__site {
    padding: 0;
    margin: 0;
  }
  .contact-nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contact-nav__link--mobile {
    margin-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .contact-nav__item:not(:last-child) {
    margin-top: 32px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}

.logo__black {
  color: var(--color-logo-header);
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}

.logo__white {
  color: var(--color-logo-footer);
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .nav__site {
    display: flex;
    margin-left: 93px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .nav__site li:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title-text);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--color-link-hover);
  }
}

@media screen and (min-width: 768px) {
  .effect-portfolio:hover svg rect,
  .effect-portfolio:focus svg rect {
    stroke-width: 6;
    stroke-dasharray: 77, 225;
    stroke-dashoffset: 145;
  }
  .effect-studio:hover svg rect,
  .effect-studio:focus svg rect {
    stroke-width: 6;
    stroke-dasharray: 45, 245;
    stroke-dashoffset: 160;
  }
  .effect-svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .effect-svg rect {
    stroke: var(--color-link-hover);
    stroke-width: 0;
    transition: 0.4s;
    stroke-dasharray: 300, 0;
  }
  .nav__site li {
    position: relative;
  }
  .activ::after {
    display: inline-block;
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--color-link-hover);
    transition: width 300ms var(--kub);
  }
  .activ:hover::after,
  .activ:focus::after {
    width: 0%;
  }
}

@media screen and (max-width: 767px) {
  .effect-studio svg,
  .effect-portfolio svg {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-nav {
    flex-wrap: wrap;
    margin-left: 72px;
  }
  .contact-nav {
    display: flex;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .contact-nav__item a {
    display: flex;
    align-items: center;
  }
  .contact-nav__link {
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
    fill: var(--color-text);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-nav__link svg {
    margin-right: 10px;
  }
  .contact-nav__link:hover, .contact-nav__link:focus {
    color: var(--color-link-hover);
    fill: var(--color-link-hover);
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .nav__site {
    margin-right: 349px;
  }
  .contact-nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .contact-nav__item a {
    display: flex;
    align-items: center;
  }
  .contact-nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
    fill: var(--color-text);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-nav__link svg {
    margin-right: 10px;
  }
  .contact-nav__link:hover, .contact-nav__link:focus {
    color: var(--color-link-hover);
    fill: var(--color-link-hover);
  }
}

.hero {
  text-align: center;
}

.hero__blok {
  padding: 118px 0px;
  background-color: var(--color-footer-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__blok {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__blok {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__blok {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__blok {
    padding: 200px 0px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__blok {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop2x.jpg");
  }
}

.hero__title {
  width: 360px;
  margin: 0px auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-logo-footer);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border: 0;
  border-radius: 5px;
  padding: 6px 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--color-link-hover);
  color: var(--color-main-background);
}

.benefits {
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.benefits__name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .benefits__name {
    text-align: left;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
    height: 226;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background: var(--color-secondary-background);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
}

.antena::before {
  background-image: url("../images/antenna.svg");
}

.clock::before {
  background-image: url("../images/clock.svg");
}

.diagram::before {
  background-image: url("../images/diagram.svg");
}

.astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.wotwedo {
  padding-top: 0px;
  padding-bottom: 94px;
}

.wotwedo h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .wotwedo {
    display: none;
  }
}

.wotwedo__list {
  position: relative;
  justify-content: space-between;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.wotwedo__item img {
  display: block;
}

.wotwedo__text {
  margin: 0px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.wotwedo__actions {
  bottom: 0px;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--color-secondary-background);
}

.team__title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

.team__item {
  display: block;
  text-align: center;
  background: var(--color-title-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    height: auto;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__item img {
  display: block;
}

.team__item img {
  width: 100%;
}

.team__list {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text);
}

.networks {
  display: flex;
  justify-content: center;
  padding: 0px 32px 30px;
}

.networks--footer {
  display: flex;
}

.networks__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--fill-icon);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:not(:last-child) {
  margin-right: 10px;
}

.networks__link:hover, .networks__link:focus {
  fill: var(--color-main-background);
  background-color: var(--color-link-hover);
}

.networks__link--footer {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-main-background);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link--footer:not(:last-child) {
  margin-right: 10px;
}

.networks__link--footer:hover, .networks__link--footer:focus {
  fill: var(--color-main-background);
  background-color: var(--color-link-hover);
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.client__link {
  display: flex;
  margin-left: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px;
  border-radius: 5px;
  border-color: var(--fill-icon);
  border-style: solid;
  fill: var(--fill-icon);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}

.client__link:hover, .client__link:focus {
  fill: var(--color-link-hover);
  border-color: var(--color-link-hover);
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }
  .client__link {
    width: 170px;
    height: 92px;
  }
  .client__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-footer-hero);
}

.footer__section {
  text-align: center;
}

.address-real {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-real-address);
}

.address__link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-link-address);
}

.address__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.networks--footer__title {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

.networks--footer {
  justify-content: center;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__form {
    padding-left: 166px;
    padding-right: 152px;
  }
}

.footer__form input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--color-footer-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  outline: none;
}

.footer__form-title {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

.plane-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.plane-icon svg {
  margin-left: 10px;
}

.plane-icon:hover {
  background: #188ce8;
}

.footer__address-link {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__address-link {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 67px;
    padding-right: 89px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
    margin-right: 90px;
    margin-bottom: 0rem;
  }
  .footer__form {
    display: flex;
    padding: 0;
    text-align: left;
  }
  .footer__address-link {
    text-align: left;
    margin-right: 93px;
    margin-bottom: 0;
    justify-content: center;
    padding: 0;
  }
  .footer__section {
    display: flex;
    align-items: baseline;
    position: relative;
  }
  .plane-icon {
    margin-right: 0;
    position: absolute;
    right: 15px;
    top: 48px;
  }
  .footer__form input {
    width: 358px;
    margin-bottom: 0;
  }
  .footer__form-title {
    text-align: left;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item {
  margin-bottom: 15px;
}

.filter__button {
  border: 0;
  border-radius: 5px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: var(--color-title-hero);
  background-color: var(--color-link-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .filter {
    padding-top: 60px;
  }
}

.works {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .works {
    justify-content: space-between;
  }
}

.works__item {
  width: 100%;
  margin-bottom: 30px;
  background: var(--color-title-hero);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .works__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .works__item {
    width: 370px;
  }
}

.works__item img {
  display: block;
  width: 100%;
}

.works__item:hover {
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__title {
  margin: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.4;
  letter-spacing: 0.06em;
  color: var(--color-title-text);
}

.works__text {
  margin: 0px 24px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}

.works__picture {
  position: relative;
  overflow: hidden;
}

.technocrack {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.technocrack__text {
  margin: 0px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.works__item:hover .technocrack {
  transform: translateY(0%);
}

.section {
  padding: 60px 0px;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* -------------------------------Модалка------------------------- */
.modal {
  position: relative;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  transition: transform 250ms var(--kub);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
  transition: transform 250ms var(--kub);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms var(--kub);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 93px 15px 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--kub);
  overflow: auto;
  z-index: 10;
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover {
  fill: #2196f3;
  background-color: var(--color-secondary-background);
}

textarea {
  resize: none;
}

.modal__form {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.modal__form-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.modal__form-consent {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.modal__form-consent a {
  color: #2196f3;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
}

.modal__form-field::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field input,
.modal__form-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field input {
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
}

.modal__form-field input:focus {
  border-color: var(--color-link-hover);
}

.modal__form-field input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 15px;
}

.modal__form-field textarea:focus {
  border-color: var(--color-link-hover);
}

.modal__title {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  justify-content: center;
}

.modal__button-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-form:hover {
  background: #188ce8;
}

.modal__button {
  margin-top: 30px;
}

.modal__input-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
}

.modal__form-field input:focus + .modal__input-icon {
  fill: var(--color-link-hover);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__check {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: solid 2px var(--color-title-text);
  border-radius: 2px;
}

.modal__consent {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.modal__checkbox:checked + .modal__check {
  background-color: var(--color-link-hover);
  border: none;
  background-image: url("../images/ok.svg");
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
/*# sourceMappingURL=main.css.map */