@charset "UTF-8";
:root {
  --color-text: #757575;
  --color-title-text: #212121;
  --color-footer-hero: #2f303a;
  --color-main-background: #ffffff;
  --color-secondary-background: #f5f4fa;
  --color-link-hover: #2196f3;
  --color-logo-footer: #ffffff;
  --color-logo-header: #000000;
  --color-real-address: #ffffff;
  --color-link-address: rgba(255, 255, 255, 0.6);
  --color-title-hero: #ffffff;
  --color-border: #eeeeee;
  --fill-icon: #afb1b8;
  --kub: cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.nav__link,
.nav__site,
.contact-nav,
.contact-nav__link,
.benefits,
.wotwedo__list,
.team__list,
.address__list,
.address__link,
.address-real,
.filter,
.works,
.works__link,
.client__list {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--color-main-background);
  color: var(--color-title-text);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.heder-blok {
  display: flex;
  align-items: center;
}

.heder-portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-border);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}

.logo__black {
  color: var(--color-logo-header);
}

.logo__footer {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}

.logo__white {
  color: var(--color-logo-footer);
}

.nav {
  display: flex;
  align-items: center;
}

.nav__site {
  display: flex;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav__site li:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title-text);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-link-hover);
}

.effect-studio:hover svg rect,
.effect-studio:focus svg rect {
  stroke-width: 6;
  stroke-dasharray: 45, 245;
  stroke-dashoffset: 160;
}

.effect-portfolio:hover svg rect,
.effect-portfolio:focus svg rect {
  stroke-width: 6;
  stroke-dasharray: 77, 225;
  stroke-dashoffset: 145;
}

.effect-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.effect-svg rect {
  stroke: var(--color-link-hover);
  stroke-width: 0;
  transition: 0.4s;
  stroke-dasharray: 300, 0;
}

/* Підкреслення навігації */
.nav__site li {
  position: relative;
}

.activ::after {
  display: inline-block;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-link-hover);
  transition: width 300ms var(--kub);
}

.activ:hover::after,
.activ:focus::after {
  width: 0%;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-nav li:not(:last-child) {
  margin-right: 50px;
}

.contact-nav__item a {
  display: flex;
  align-items: center;
}

.contact-nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  fill: var(--color-text);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__link svg {
  margin-right: 10px;
}

.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--color-link-hover);
  fill: var(--color-link-hover);
}

.hero {
  text-align: center;
}

.hero__blok {
  padding: 200px 0px;
  background-color: var(--color-footer-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  width: 696px;
  margin: 0px auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-logo-footer);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__button {
  border: 0;
  border-radius: 5px;
  padding: 6px 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--color-link-hover);
  color: var(--color-main-background);
}

.benefits {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.benefits__name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.benefits__item {
  width: calc((100% - 90px) / 4);
}

.benefits__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background: var(--color-secondary-background);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
}

.antena::before {
  background-image: url('../images/antenna.svg');
}

.clock::before {
  background-image: url('../images/clock.svg');
}

.diagram::before {
  background-image: url('../images/diagram.svg');
}

.astronaut::before {
  background-image: url('../images/astronaut.svg');
}

.wotwedo {
  padding-top: 0px;
  padding-bottom: 94px;
}

.wotwedo h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.wotwedo__list {
  position: relative;
  justify-content: space-between;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.wotwedo__item img {
  display: block;
}

.wotwedo__text {
  margin: 0px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.wotwedo__actions {
  bottom: 0px;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--color-secondary-background);
}

.team h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__item {
  display: block;
  text-align: center;
  background: var(--color-title-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item img {
  display: block;
}

.team__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text);
}

.networks {
  display: flex;
  padding: 0px 32px 30px;
}

.networks--footer {
  display: flex;
}

.networks__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--fill-icon);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:not(:last-child) {
  margin-right: 10px;
}

.networks__link:hover,
.networks__link:focus {
  fill: var(--color-main-background);
  background-color: var(--color-link-hover);
}

.networks__link--footer {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-main-background);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link--footer:not(:last-child) {
  margin-right: 10px;
}

.networks__link--footer:hover,
.networks__link--footer:focus {
  fill: var(--color-main-background);
  background-color: var(--color-link-hover);
}

.client__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.client__list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px;
  border-radius: 5px;
  border-color: var(--fill-icon);
  border-style: solid;
  fill: var(--fill-icon);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  fill: var(--color-link-hover);
  border-color: var(--color-link-hover);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-footer-hero);
}

.footer,
.address {
  display: flex;
  align-items: baseline;
}

.address-div {
  margin-right: 70px;
}

.address-real {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-real-address);
}

.address__link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-link-address);
}

.address__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

/*----------------- Соцмережі футера---------------- */
.networks--footer__title {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

/* Подпишитесь на рассылку */
.form-footer {
  display: block;
  margin-left: 93px;
}

.form-footer__title {
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

.form-footer__div input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  background-color: var(--color-footer-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  outline: none;
}

.form-footer__div button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__div button:hover {
  background: #188ce8;
}

.plane-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-footer__div {
  display: flex;
}

.plane-icon svg {
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  border: 0;
  border-radius: 5px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--color-title-hero);
  background-color: var(--color-link-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.works {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}

.works__item {
  margin-bottom: 30px;
  background: var(--color-title-hero);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works__item img {
  display: block;
}

.works__item:hover {
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.works__title {
  margin: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title-text);
}

.works__text {
  margin: 0px 24px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}

.works__picture {
  position: relative;
  overflow: hidden;
}

.technocrack {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.technocrack__text {
  margin: 0px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.works__item:hover .technocrack {
  transform: translateY(0%);
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}

/* -------------------------------Модалка------------------------- */
.modal {
  position: relative;
  width: 528px;
  padding: 40px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--kub);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
  transition: transform 250ms var(--kub);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms var(--kub);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--kub);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover {
  fill: #2196f3;
  background-color: var(--color-secondary-background);
}

textarea {
  resize: none;
}

.modal__form {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.modal__form-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.modal__form-consent {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.modal__form-consent a {
  color: #2196f3;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
}

.modal__form-field::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field input,
.modal__form-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field input {
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
}

.modal__form-field input:focus {
  border-color: var(--color-link-hover);
}

.modal__form-field input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 15px;
}

.modal__form-field textarea:focus {
  border-color: var(--color-link-hover);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.modal__button-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-form:hover {
  background: #188ce8;
}

.modal__button {
  margin-top: 30px;
}

.modal__input-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__input-icon {
  position: absolute;
  left: 15px;
}

.modal__form-field input:focus + .modal__input-icon {
  fill: var(--color-link-hover);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__check {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: solid 2px var(--color-title-text);
  border-radius: 2px;
}

.modal__consent {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.modal__checkbox:checked + .modal__check {
  background-color: var(--color-link-hover);
  border: none;
  background-image: url('../images/ok.svg');
  background-size: contain;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */
