.nav {
  display: flex;
  align-items: center;
}

.nav__site {
  display: flex;
  margin-left: 93px;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  & li:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title-text);

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-link-hover);
  }
}

