:root {
  --color-text: #757575;
  --color-title-text: #212121;
  --color-footer-hero: #2f303a;
  --color-main-background: #ffffff;
  --color-secondary-background: #f5f4fa;
  --color-link-hover: #2196f3;
  --color-logo-footer: #ffffff;
  --color-logo-header: #000000;
  --color-real-address: #ffffff;
  --color-link-address: rgba(255, 255, 255, 0.6);
  --color-title-hero: #ffffff;
  --color-border: #eeeeee;
  --fill-icon: #afb1b8;
  --kub: cubic-bezier(0.4, 0, 0.2, 1);
}
